body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(78, 80, 82);
}
h3{
    letter-spacing: -0.2rem;
    font-size: 3.7rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 370px;
    background-color: rgb(201, 218, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/man-and-baby.png);
    background-repeat: no-repeat;
    background-position: bottom right 15%;
}
menu{
    margin: 0;
    height: 60px;
    background-color: white;
    color: rgb(160, 158, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    height: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul>:nth-child(4){
    color: black;
}
li{
    font-size: 0.8rem;
    font-weight: 900;
    margin-left: 70px;
    margin-right: 70px;
    letter-spacing: -0.05rem;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 700px;
    background-color: rgb(178, 178, 187);
}
.mainLeft{
    padding: 30px;
}
.mainLeft h3{

    color: white;
    margin-left: 70px;
}
.mainRight{
    color: white;
    font-size: 1.2rem;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 4px;
    width: 400px;
}
.email{
    height: 3rem;
}
.message{
    height: 170px;
}
button{
    margin-top: 60px;
    margin-right: 190px;
    border-radius: 50px;
    align-self: flex-end;
    width: 200px;
    height: 50px;
    padding: 0;
    font-size: 0.6rem;
    font-weight: 900;
}
