body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(78, 80, 82);
}
h3{
    letter-spacing: -0.2rem;
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 400px;
    background-color: rgb(201, 218, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/man-and-baby.png);
    background-repeat: no-repeat;
    background-position: bottom right 160px;
}