body {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    max-width: 1100px;
}
/* Header part */
header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45% 45% 10%;
    width: 100%;
    height: 42rem;
}
header div{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .left {
    padding-bottom: 150px;
    background-color: rgb(164, 211, 195);
    background-image: url(img/family.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    grid-area: 1/1/3/3;
}
header .left h3{
    margin-bottom: 0;
}
header .left button{
    margin-right: 130px;
    margin-top: 30px;
}
h3{
    margin: 0;
    font-size: 3rem;
}
.whiteText{
    color: antiquewhite;
}
header .rightup {
    grid-area: 1/3/2/5;
    background-color: rgb(180, 77, 36);
} 
header .rightup p{
    margin: 0;
}  
header .rightdown {
    background-color: orange;
    grid-area: 2/3/3/5;
} 
header .rightdown p{
    margin: 0;
} 
/* Menu between header and main */
menu{
    display: flex;
    justify-content: center;
    background-color: rgb(136, 133, 130);
    grid-area: 3/1/4/5;
}
ul{
    background-color: rgb(136, 133, 130);
    
    align-items: center;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li{
    background-color: rgb(136, 133, 130);
    
    margin: 10px;
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .upper {
    display: flex;
    background-color: grey;
    width: 100%;
    height: 80vh;
}
.upperleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
button {
    font-size: 0.7rem;
    font-weight: bold;
    height: 3rem;
    width: 10rem;
    border-radius: 1.5rem;
}
.upperright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
main .middle {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
article{
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
}
article.left{
    position: relative;
    top 40px;
}
article div{
    width: 240px;
    height: 150px;
}
.middle .lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageC{
    
    background-color: aquamarine;
    background-image: url(img/child.png);
}
.imageA{
    background-color: orange;
    background-image: url(img/adult.png);
}
.imageO{
    background-color: firebrick;
    background-image: url(img/old.png);
}
main .down {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
section.down div{
    display: flex;
}
section.down div>:nth-child(2){
    align-self: center;
    justify-self: center;
}
/* Footer */
.box1{
    justify-content: center;
    align-content: center;
    background-color: aquamarine;
}
.box2{
    background-color: aliceblue;
}
.box3{
    background-color: rgb(189, 184, 184);
}
.box4{
    background-color: antiquewhite;
}
.box5{
    background-color: rgb(175, 83, 55);
}
.box6{
    background-color: bisque;
}
