body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 238, 243);
}
.wrapper{
    max-width: 1300px;
}
p{
    color: rgb(62, 62, 66);
    line-height: 1.7em;
    font-family: 'Times New Roman', Times, serif;
}
/* Header part */
header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45% 45% 10%;
    width: 100%;
    height: 42rem;
}
header div{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .left {
    padding-bottom: 150px;
    background-color: rgb(164, 211, 195);
    background-image: url(img/family.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    grid-area: 1/1/3/3;
}
header .left h3{
    margin-bottom: 0;
}
header .left button{
    margin-right: 130px;
    margin-top: 30px;
}
h3{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;

    font-size: 3rem;
}
.whiteText{
    color: antiquewhite;
}
header .rightup {
    grid-area: 1/3/2/5;
    background-color: rgb(180, 77, 36);
} 
header .rightup p{
    margin: 0;
}  
header .rightdown {
    background-color: orange;
    grid-area: 2/3/3/5;
} 
header .rightdown p{
    margin: 0;
} 
.rightup h3, .rightdown h3{
    color: white;
}
/* Menu between header and main */
menu{
    margin: 0;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 238, 243);
    grid-area: 3/1/4/5;
}
ul{
    background-color: rgb(231, 238, 243);
    
    align-items: center;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
ul>:first-child{
    color: black;
}
li{
    background-color: rgb(231, 238, 243);
    margin-left: 50px;
    margin-right: 50px;
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .upper {
    display: flex;
    background-color: grey;
    width: 100%;
    height: 80vh;
}
.upperleft {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.upperleft button{
    margin-top: 80px;
    margin-right: 150px;
}
button {
    font-size: 0.7rem;
    font-weight: 900;
    font-stretch: semi-condensed;
    height: 3rem;
    width: 10rem;
    border-radius: 1.5rem;
}
.upperright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.upperright p{
    width: 310px;
}
main .middle {
    text-align: center;
    justify-content: space-around;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
/* Articles with pictures */
article{
    position: relative;
    bottom: 175px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 18px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
}
article h3{
    font-size: 1.4em;
}
article p{
    width: 80%;
    font-size: 0.7rem;
    font-weight: 600;
}
article div{
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    width: 265px;
    height: 220px;
}
.middle .lower {
    position: relative;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-bottom: 400px;
}
.middle .lower h3{
    color: white;
}
.middle .lower p{
    max-width: 500px;
    font-weight: 600;
}
.imageC{
    
    background-color: rgb(186, 219, 221);
    background-image: url(img/child.png);
}
.imageA{
    background-color: orange;
    background-image: url(img/adult.png);
}
.imageO{
    background-color: rgb(255, 115, 80);
    background-image: url(img/old.png);
}
/* Lower section with boxes */
section.down {
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
section.down div{
    text-align: center;
    display: flex;
}
.num{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding-top: 10px;
    padding-left: 20px;
    margin: 0;
}
.text{
    align-self: center;
}
.box1{
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
.box2{
    justify-content: space-between;
    background-color: aliceblue;
}
.box3{
    justify-content: space-between;
    background-color: rgb(189, 184, 184);
}
.box4{
    justify-content: space-between;
    background-color: antiquewhite;
}
.box5{
    justify-content: space-between;
    background-color: rgb(175, 83, 55);
}
.box6{
    justify-content: space-between;
    background-color: bisque;
}
.empty{
    margin-right: 52px;
}
/* Footer */
footer{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
}
footer p{
    text-align: center;
    margin: 0px;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1;
}
.arrow{
    transform: rotate(135deg);
    font-weight: 800;
    line-height: 0.3;
    margin-top: 10px;
}